.form_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 15px;
    width: 560px;
    height: 100%;
    border-radius: 10px;
    background: #E0E0E0;

    .uploadedImg {
      width: 200px;
      height: 200px;
      margin-top: 10px;
    }
  }
}
